{% extends 'index.html' %}
{% block title %} Blerssi {% endblock %}
{% block content %}
<nav class="navbar navbar-default">
       <center style="color:blue;font-size:46px;">BLERSSI Location Prediction</center>
</nav>
  <div class="form">
    <form method="POST" action='/transform' enctype="multipart/form-data">
          <label>Blerssi Input File</label>
          <input type="file" name="file" /></br>
          <button type="submit" class="btn btn-primary">submit</button>
    </form>
  </div>

{% endblock %}

